<?xml version="1.0"?>
<config>
    <modules>
        <Modulepackage_Myfirstmodule>
            <version>0.1.0</version>
        </Modulepackage_Myfirstmodule>
    </modules>
    <frontend>
        <routers>
            <myfirstmodule>
                <use>standard</use>
                <args>
                    <module>Modulepackage_Myfirstmodule</module>
                    <frontName>myfirstmodule</frontName>
                </args>
            </myfirstmodule>
        </routers>
    </frontend>
	<global>
		<events>
			<controller_front_init_routers>
				<observers>
					<Modulepackage_Myfirstmodule_model_observer>					
						<type>singleton</type>
						<class>Modulepackage_Myfirstmodule_Model_Observer</class>							   
						<method>checkForConfigRequest</method>	
					</Modulepackage_Myfirstmodule_model_observer>
				</observers>
			</controller_front_init_routers>
		</events>
		<models>
			<myfirstmodule>
				<class>Modulepackage_Myfirstmodule_Model</class>
				<resourceModel>myfirstmodule_mysql4</resourceModel>
			</myfirstmodule>
			<myfirstmodule_mysql4>
				<class>Modulepackage_Myfirstmodule_Model_Resource_Mysql4</class>
				<entities>
					<blogpost>
						<table>blog_posts</table>
					</blogpost>
				</entities>
			</myfirstmodule_mysql4>
			<resources>
				<myfirstmodule_write>
					<connection>
						<use>default_write</use>
					</connection>
				</myfirstmodule_write>
				<myfirstmodule_read>
					<connection>
						<use>default_read</use>
					</connection>
				</myfirstmodule_read>
				<!--
				<myfirstmodule_setup>
					<setup>
						<module>Modulepackage_Myfirstmodule</module>
						<class>Modulepackage_Myfirstmodule_Model_Setup_Mysql4_Setup</class>
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
				</myfirstmodule_setup>
				-->
				<myfirstmodule_setup>
					<setup>
						<module>Modulepackage_Myfirstmodule</module>
						<class>Modulepackage_Myfirstmodule_Resource_Mysql4_Setup</class>
					</setup>
					<connection>
						<use>core_setup</use>
					</connection>
				</myfirstmodule_setup>
			
						
			</resources>
		</models>		
	</global>
</config>